# Database
DATABASE_URL=postgresql://user:password@host:port/database

# Server
PORT=4000

# Environment
NODE_ENV=production

# JWT
JWT_SECRET=your-secret-key-change-in-production


# # Database
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/feedback

# # Environment
# NODE_ENV=development

# # JWT
# JWT_SECRET=your-secret-key-change-in-production

# # Server
# PORT=4000